[flake8]
exclude = .git,__pycache__,venv,__all_models.py,db_session.py
extend-ignore = C901
max-complexity = 10
import-order-style = google
application-import-names = data, forms
max-line-length = 120
inline-quotes = "
black-config = pyproject.toml
