.order {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order_wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    font-family: sans-serif;
    color: #21201F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 2.5rem;
    text-align: center;
}

.order_info {
    min-width: 700px;
    max-width: 700px;
    display: flex;
    /* justify-content: space-between; */
    gap: 7rem;
}

.order_img {
    max-height: 9rem;
    min-height: 9rem;
    max-width: 9rem;
    min-width: 9rem;
    object-fit: cover;
    background: #FFF;
    border-radius: 0.9375rem;
}

.order_name {
    min-width: 150px;
    align-self: center;
    font-family: sans-serif;
    display: flex;
    color: #21201F;
    font-size: 2rem;
}

.order_price_count {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.price {
    padding-top: 20px;
    align-self: flex-start !important;
    align-self: center;
    font-family: sans-serif;
    color: #21201F;
    font-size: 2rem;
}

.count {
    width: 186px;
    display: flex;
    gap: 3rem;
    align-items: center;
    background: #cdcdcd;
    padding: 1rem;
    border-radius: 0.9375rem;
    justify-content: space-around;
}

.disable {
    display: none;
}

.count img {
    height: 25px;
}

.info {
    margin: 1rem;
    align-self: center !important;
    display: flex;
    justify-content: center;
}

.order_total {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.total_price {
    align-self: flex-start !important;
    align-self: center;
    font-family: sans-serif;
    color: #21201F;
    font-size: 2rem;
}

.order_submit {
    width: 272px;
    max-width: 17rem;
    display: flex !important;
    margin-top: 1rem;
    border: 3px solid #BCDE36;
    height: 3.125rem;
    border-radius: 0.9375rem;
    color: #21201F;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
}

.all {
    display: flex;
    flex-direction: column;
}

.wc {
    display: flex;
}

.tpos {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}

.order_wrapper hr {
    background: #CDCDCD;
    height: 2px !important;
    width: 700px;
    margin-top: 10px;
}

.order_info_mobile {
    display: none;
}

.text-center-total {
    font-family: sans-serif;
    color: #21201F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


@media screen and (max-width: 1050px) {
    .wc {
        flex-direction: column;
        align-items: center;
    }

    .order_total {
        width: auto;
    }
}

@media screen and (max-width: 760px) {
    .order_info {
        max-width: none;
        min-width: 0;
        gap: 1rem;
    }

    .order_wrapper hr {
        width: 508px;
    }
}

@media screen and (max-width: 510px) {
    .order_info {
        display: none;
    }

    .order_info_mobile {
        display: block;
    }

    .order_wrapper hr {
        width: 275px;
    }

    .order_price_count {
        flex-direction: row;
        gap: 2rem;
    }

    .order_name {
        display: block;
        text-align: center;
    }
}



/* custom input buttons */

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #cdcdcd;
    border-radius: 0.9375rem;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 1.5rem;
    height: 3rem;
    text-align: center;
}