.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.text-center {
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 40px 0;
}

.container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ii {
    max-width: 888px;
    width: 100%;
    min-height: 400px;
    display: flex;
    gap: 3rem;
    align-self: end;
    flex-direction: row;
}

.image {
    width: 20rem !important;
    height: 20rem !important;
    object-fit: cover;
    background: #FFF;
    border-radius: 0.9375rem;
}

.info {
    font-family: sans-serif;
    font-size: 21px;
    pointer-events: none;
    border-radius: 0.9375rem;
    min-height: 200px;
    resize: none;
    min-width: 600px;
    width: 100% !important;
    height: 100% !important;
}

.btns {
    margin-top: 20px;
    max-width: 888px;
    width: 100%;
    align-self: end;
    display: flex;
    justify-content: space-between;
}

.edit {
    width: 272px;
    max-width: 17rem;
    display: flex !important;
    margin-top: 1rem;
    border: 3px solid #BCDE36;
    height: 3.125rem;
    border-radius: 0.9375rem;
    color: #21201F;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
}

.edit:hover {
    background: #BCDE36;
}

.remove {
    cursor: pointer;
    width: 272px;
    max-width: 17rem;
    display: flex !important;
    margin-top: 1rem;
    border: 3px solid red;
    height: 3.125rem;
    border-radius: 0.9375rem;
    color: #21201F;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
}

.remove:hover {
    background: red;
}

.dish_buy {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-self: center;
}

.buy {
    margin-right: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 0.9375rem;
    width: 30%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    font-family: sans-serif;
    color: #21201F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.order {
    width: 272px;
    max-width: 17rem;
    display: flex !important;
    margin-top: 1rem;
    border: 3px solid #BCDE36;
    height: 3.125rem;
    border-radius: 0.9375rem;
    color: #21201F;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1200px) {

    .buy {
        height: 400px;
    }

    .dish_buy,
    .conrating {
        flex-direction: column;
    }

    .conrating {
        margin: 0 auto !important;
    }

    .container,
    .btns,
    .buy {
        align-self: center;
    }

    .buy {
        width: 70%;
        margin: 0;
        margin-bottom: 30px;
        padding: 10px;
    }

    .ii {
        flex-direction: column;
    }

    .info {
        height: auto !important;
        /* max-width: 360px; */
        min-height: 100px;
        align-self: center;
    }

    .image {
        align-self: center;
    }
}

@media screen and (max-width: 790px) {
    .btns {
        flex-direction: column;
    }

    .edit,
    .remove,
    .order {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .image {
        width: 234.66px !important;
        width: 234.66px !important;
    }
}

dialog {
    border-radius: 0.9375rem;
    align-self: center;
    margin: auto;
    height: 40%;
    z-index: 999;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.dwrapper {
    font-family: sans-serif;
    font-size: xxx-large;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.dheader {
    padding: 20px;
    background: red;
    color: #fff;
}

.dmain {
    font-size: xx-large;
    padding: 20px;
}

.dfooter {}

.dbtns {
    display: flex;
    justify-content: flex-end;
}

.dremove:hover {
    color: #fff;
    background: red;
}

.dremove,
.dcancel {
    margin: 10px;
    border: 3px solid red;
    display: flex;
    height: 3.125rem;
    border-radius: 0.9375rem;
    flex-shrink: 0;
    cursor: pointer;
    color: #21201F;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.dcancel {
    border: 3px solid #cdcdcd;
}

.dcancel:hover {
    background: #cdcdcd;
    color: #fff;
}


@media screen and (max-width: 650px) {
    dialog {
        margin: auto 0;
        min-width: 100%;
        min-height: 60%;
    }

    .dmain {
        /* font-size: xx-large; */
    }

}

@media screen and (max-width: 605px) {
    .info {
        min-width: auto;
    }
}

.feedback {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* min-width: 100%; */
}

textarea.feedbackarea {
    padding: 9px;
    width: 100%;
    max-width: 700px;
    min-height: 100px;
    resize: none;
    border: none !important;
    border: 1px solid #cdcdcd !important;
    border-right: none !important;
    outline: none !important;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;


}

.feed {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.feedbackbtn {
    padding: 0 10px;
    min-height: 100px;
    background-color: #BCDE36 !important;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #cdcdcd;
}

.your_feedback {
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* min-width: 100%; */
    align-items: center;
}

.title {
    display: flex;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 10px;
}

.criterias {
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.criteria {}


.all_feedback {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feedbackitem {
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 5rem;
    min-height: 100px;
    align-items: stretch;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.feedbackitem:last-child {
    margin-bottom: 2rem;
}

.feedbackcreater {}

.feedbackcriterias {}

.feedbackcriteria {}

.feedbacktext {
    height: 100% !important;
    width: 100%;
    outline: none !important;
    resize: none;

}

.createrrating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.conrating {
    margin-left: 10px;
    display: flex;
    gap: 5rem;
}

.rating {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ratingtitle {
    font-family: sans-serif;
    font-size: 21px;
}

.allcriterias {
    font-family: sans-serif;
    font-size: 17px;
}


.criteria {
    float: left;
    border-style: none;
}

.stats {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}