{% macro order_create(order) %}

{% if order %} {% if order["lunch"] %}
<div class="item_dish_title">Бизнес-ланч - {{ order["lunch"].price }}₽</div>
{% for dish in order["lunch"]["dishes"] %}
<div class="ihr">
  <div class="basket_item">
    <a class="item_img" href="#">
      <img src="{{ url_for('static', filename=dish.image) }}" />
    </a>
    <div class="item_info">
      <div class="item_dish_title">{{ dish.title }}</div>
    </div>
  </div>
</div>
{% endfor %} {% endif %} {% for k in order %} {% if k not in ["sum", "lunch"] %}
{% set dish = order[k] %}
<div class="item_dish_title">Другие блюда</div>
<div class="ihr">
  <div class="basket_item">
    <a class="item_img" href="#">
      <img src="{{ url_for('static', filename=dish.image) }}" />
    </a>
    <div class="item_info">
      <div class="item_dish_title">{{ dish.title }}</div>
      {% if dish.count > 1 %}
      <div class="item_dish_price">Цена - {{ dish.price }}₽ за 1 шт.</div>
      {% else %}
      <div class="item_dish_price">Цена - {{ dish.price }}₽</div>
      {% endif %}
      <div class="item_dish_count">Количество - {{ dish.count }} шт.</div>
    </div>
  </div>
  <hr />
</div>
{% endif %} {% endfor %}
<div class="basket_bottom">
  <div class="end_price">
    Сумма заказа -
    <div class="bold">{{ order["sum"] }}₽</div>
  </div>
  <a class="order_basket" href="/confirm_order">Оформить заказ</a>
</div>
{% else %}
<div class="empty_basket">Корзина пустая</div>
{% endif %}

{% endmacro %}
