<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SberMenu | Добро пожаловать</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="PC">
    <header class="header_PC">
        <div class="header">
            <div class="logo">SberMenu</div>
            <div class="sba">
                <div class="sb">
                    <div class="search_bar"></div>
                    <a class="found_btn">Найти</a>
                </div>

                <div class="avatar">
                    <div class="img"></div>
                </div>
                <a class="login_btn" href="/login">Войти</a>
            </div>
        </div>
    </header>
    <main class="main_PC">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer_PC"></footer>
</div>

</html>