<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/static/svg/SberMenuLogo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SberMenu | Добро пожаловать</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<div class="PC">
    <header class="header_PC">
        <div class="header">
            <div class="message-content" style="display: none;">{{ message|tojson }}</div>
            <a class="logo" href="/">
                <div class="green">Sber</div>Menu
            </a>
            <div class="sba">
                <a class="basket" easy-toggle="#basket" easy-class="show" easy-rcoe>
                    <img src="/static/svg/basket-shopping-alt-svgrepo-com.svg">
                </a>
                {% if current_user.is_authenticated %}
                <a class="dropdown-toggle" easy-toggle="#dropdown" easy-class="show" easy-rcoe>
                    <img src="/static/svg/user-alt-1-svgrepo-com.svg">
                </a>

                <!-- User dropdown menu -->
                <div class="dropdown-menu" id="dropdown">
                    <div class="menu">
                        <div class="user_info">
                            <div class="name">{{ current_user.name }} {{ current_user.surname }}</div>
                        </div>
                        <hr>
                        <a href="/edit" class="menu_link">
                            <img class="menu_img" src="/static/svg/settings-svgrepo-com.svg">
                            <p>Редактировать профиль</p>
                            <span><img src="/static/svg/right-chevron-svgrepo-com.svg"></span>
                        </a>
                        <a href="/logout" class="menu_link">
                            <img class="menu_img" src="/static/svg/logout-svgrepo-com.svg">
                            <p>Выйти</p>
                            <span><img src="/static/svg/right-chevron-svgrepo-com.svg"></span>
                        </a>
                    </div>
                </div>
                <!-- end User dropdown menu -->

                {% else %}
                <a class="login_btn" href="/login">Войти</a>
                {% endif %}

                <!-- basket dropdown menu -->
                <div class="dd-menu-wrap" id="basket">
                    <div class="dd-menu">
                        {% for dish in order %}
                        <p><a href="#"><img src="{{ url_for('static', filename=dish.image) }}"></a>
                        <div>{{ dish.title }}</p>{{ dish.price }}</div>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <!-- end basket dropdown menu -->

            </div>
        </div>
    </header>
    <main class="main_PC">
        <!-- Good Alert Box  -->
        <div class="good_alert_box">
            <div class="good_alert_box_content">
                <i class="fa-solid fa-check check"></i>

                <div class="good_alert_message">
                    <span class="text text-1">Успех!</span>
                    <span class="text text-2"></span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>

            <div class="good_alert_progress"></div>
        </div>


        <!-- Bad Alert Box -->

        <div class="bad_alert_box">
            <div class="bad_alert_box_content">
                <i class="fa-solid fa-xmark check"></i>

                <div class="bad_alert_message">
                    <span class="text text-1">Поздравляю, ты крякнулся</span>
                    <span class="text text-2"></span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>

            <div class="bad_alert_progress"></div>
        </div>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer_PC">
        <div class="github">
            <a href="https://github.com"><img class="githubicon" src="/static/svg/github-mark.svg"></a>
            <div class="githubtext">© 2023 ChinaGrib Team</div>
        </div>
    </footer>
</div>
<script>
    let details = navigator.userAgent;
    let regexp = /android|iphone|kindle|ipad/i;
    let isMobileDevice = regexp.test(details);

    if (isMobileDevice) {
        document.write("<style>.wrapper i {display: none !important;}</style>")
    }
</script>

<script src="{{ url_for('static', filename='/scripts/smooth scroll.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='/scripts/base.js') }}"></script>

</html>