{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/create_lunch.css') }}">

<div>
  <div>
    Бизнес-ланч
  </div>
  <div>
    Дата: {{ lunch.date }}
  </div>

  <!-- Choose dihes -->
  <div class="all_categories">
    {% for category in categories if category.lunch_dishes %}
    <div class="category">
        <div class="category_titlee">{{category.title}}</div>
        <div class="choose_checkbox">
            {% for di_l in category.lunch_dishes if di_l in lunch.dishes %}
            {% set dish = di_l.dish %}

            <div class="inc">
                <input id="myCheckbox{{ dish.id }}" type="checkbox" name="dishes" value="{{ dish.id }}">
                <label class="chekimg" for="myCheckbox{{ dish.id }}">
                    <img class="category_image" src="{{ url_for('static', filename=dish.image) }}">
                </label>
                <div class="category_title">{{ dish.title }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
</div>
</div>

{% endblock %}
