{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/create_category_and_dish.css') }}">


<div class="wrapper">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="text">
                <h1 class="text-center">Добавить блюдо</h1>
            </div>

            <!-- Name -->
            {{ form.title(class="form-control name", type="text",
            placeholder="Название") }}
            {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}

            <!-- Price -->
            {{ form.price(class="form-control name", type="text",
            placeholder="Цена") }}
            {% for error in form.price.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}

            <!-- About -->
            {{ form.description(class="form-control txta", type="text",
            placeholder="Описание") }}
            {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}

            <!-- Dish image -->
            <label for="images" class="drop-container" id="dropcontainer">
                <img id="show_img">
                <span class="drop-title">Выберите изображение</span>
                {{ form.image(class="form-control", id="images", onchange="readURL(this);", accept="image/*",
                type="file", placeholder="Фото") }}
                <span id="file-chosen">Файл не выбран</span>
            </label>
            {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}

            <!-- Choose category -->
            {% for category in categories %}
            <input type="checkbox" name="categories" value="{{ category.id }}">
            <label>{{ category.title }}</label>
            <img src="{{ url_for('static', filename=category.image) }}" style="width: 20px">
            {% endfor %}

            <!-- Submit -->
            {{ form.submit(class="submitbtn", value="Добавить") }}
        </div>
    </form>
</div>


<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='scripts/create_category.js') }}"></script>

{% endblock %}