{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/dish_profile.css') }}">


<div class="wrapper">
    <div class="text-center">{{ dish.title }}</div>
    <div class="dish_buy">
        <div class="container">
            <div class="ii">
                <img class="image" src="{{ url_for('static', filename=dish.image) }}">
                <textarea class="info" style="padding: 2px;" readonly>{% if dish.description == '' %}Описания нет{% else %}{{ dish.description }}{% endif %}</textarea>
            </div>
            {% if current_user.role == 0 %}
            <style>
                .dish_buy {
                    margin: 0 auto;
                    width: auto;
                }

                .container {
                    width: auto;
                }

                .btns {
                    margin-bottom: 30px;
                }
            </style>
            <div class="btns">
                <a class="edit" href="/edit/dish/{{ dish.id }}">Редактировать</a>
                <a class="remove" onclick="OpenDialog('{{dish.id }}')">Удалить</a>
                <dialog id="di{{ dish.id }}">
                    <div class="dwrapper">
                        <div class="dheader">Удаление блюда!</div>
                        <div class="dmain">Вы хотите удалить блюдо "{{ dish.title }}" ?</div>
                        <hr class="dhr">
                        <div class="dfooter">
                            <div class="dbtns">
                                <a class="dremove" href="/delete/dish/{{ dish.id }}">Удалить</a>
                                <a class="dcancel" onclick="RemoveDialog('{{dish.id }}')">Отмена</a>
                            </div>
                        </div>
                    </div>
                </dialog>
                <script>
                    function OpenDialog(dish_id) {
                        document.getElementById(`di${dish_id}`).showModal();
                    }

                    function RemoveDialog(dish_id) {
                        document.getElementById(`di${dish_id}`).close();
                    }
                </script>
            </div>
            {% endif %}
        </div>
        {% if current_user.role != 0 %}
        <div class="buy">
            <div class="price">Цена - {{ dish.price }}₽</div>
            <a class="order" href="/add_dish/{{ dish.id }}">Добавить в корзину</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
