{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/dish_profile.css') }}">


<div class="wrapper">
    <div class="text-center">{{ dish.title }}</div>
    <div class="dish_buy">
        <div class="container">
            <div class="ii">
                <img class="image" src="{{ url_for('static', filename=dish.image) }}">
                <textarea class="info" readonly>
                    {% if dish.description == '' %}
                    Описания нет
                    {% else %}
                    {{ dish.description }}
                    {% endif %}                
                </textarea>
            </div>
            {% if current_user.role == 0 %}
            <style>
                .dish_buy {
                    margin: 0 auto;
                    width: auto;
                }

                .container {
                    width: auto;
                }

                .btns {
                    margin-bottom: 30px;
                }
            </style>
            <div class="btns">
                <a class="edit" href="/edit/dish/{{ dish.id }}">Редактировать</a>
                <a class="remove" href="/delete/dish/{{ dish.id }}">Удалить</a>
            </div>
            {% endif %}
        </div>
        {% if current_user.role != 0 %}
        <div class="buy">
            <div class="price">Цена - {{ dish.price }}₽</div>
            <a class="order" href="#">Добавить в корзину</a>
        </div>
        {% endif %}
    </div>
</div>






{% endblock %}