{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<div class="dish_category">
  <div class="category_title">Список блюд</div>
<div class="dc">
{% for dish in dishes %}
<div class="dish">
  <a href="/profile/dish/{{ dish.id }}">
    <img class="dish_img" src="{{ url_for('static', filename=dish.image) }}">
  </a>
  <div class="dish_name_and_price">
    <div class="dish_name">{{ dish.title }}</div>
    <div class="dish_price">{{ dish.price }}₽</div>
  </div>
  <div class="btns">
    <div class="category_title">
    <a class="edit_dish" href="/edit/dish/{{ dish.id }}">Изменить</a>
    <a class="del_dish" href="/delete/dish/{{ dish.id }}">Удалить</a>
  </div>
  </div>
</div>
</div>
</div>
{% endfor %}
{% endblock %}