{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/create_category_and_dish.css') }}">


<div class="wrapper">
    <form class="dishform" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="dish_container">
            <div class="text">
                <h1 class="text-center">Изменить блюдо</h1>
            </div>
            <div class="cols">
                <div class="first_col">
                    <!-- Name -->
                    {{ form.title(class="form-control name", type="text",
                    placeholder="Название") }}
                    {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}

                    <!-- Category -->
                    {{ form.main_category(class="form-control") }}
                    {% for error in form.main_category.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}

                    <!-- Price -->
                    {{ form.price(class="form-control name", type="text",
                    placeholder="Цена") }}
                    {% for error in form.price.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}

                    Масса (г.):
                    {{ form.mass(class="form-control name", type="text",
                    placeholder="Масса") }}
                    {% for error in form.mass.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}

                    <!-- About -->
                    {{ form.description(class="form-control txta", type="text",
                    placeholder="Описание") }}
                    {% for error in form.description.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>

                <div class="second_col">
                    <!-- Dish image -->
                    <label for="images" class="drop-container" id="dropcontainer">
                        <img id="show_img">
                        <span class="drop-title">Выберите изображение</span>
                        {{ form.image(class="form-control", id="images", onchange="readURL(this);", accept="image/*",
                        type="file", placeholder="Фото") }}
                        <span id="file-chosen">Файл не выбран</span>
                    </label>
                    {% for error in form.image.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>


            <!-- Choose category -->
            <div class="all_categories">
                {% for category in categories %}

                <div class="choose_checkbox">
                    <input id="myCheckbox{{ category.id }}" type="checkbox" name="categories" value="{{ category.id }}"
                        {% if category.id in checked %}checked="checked" {% endif %}>
                    <label class="chekimg" for="myCheckbox{{ category.id }}"><img class="category_image"
                            src="{{ url_for('static', filename=category.image) }}"></label>
                    <div class="category_title">{{ category.title }}</div>
                </div>

                {% endfor %}
            </div>

            <!-- Submit -->
            {{ form.submit(class="submitbtn", value="Сохранить") }}
        </div>
    </form>
</div>


<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='scripts/create_category.js') }}"></script>

{% endblock %}
