{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<div class="wrapper">
    <i id="left" class='bx bx-left-arrow-alt'></i>
    <div class="top_container">
        <div class="it">
            <img class="box" src="/static/img/1.jpg">
            <h1 class="img_text">dasdas</h1>
        </div>
        <div class="it">
            <img class="box" src="/static/img/1.jpg">
        </div>
        <div class="it">
            <img class="box" src="/static/img/1.jpg">
        </div>
        <div class="it">
            <img class="box" src="/static/img/1.jpg">
        </div>
        <div class="it">
            <img class="box" src="/static/img/1.jpg">
        </div>
        <div class="it">
            <img class="box" src="/static/img/1.jpg">
        </div>
        <div class="it">
            <img class="box" src="/static/img/1.jpg">
        </div>
    </div>
    <i id="right" class='bx bx-right-arrow-alt'></i>
</div>


<script src="{{ url_for('static', filename='scripts/slider.js') }}"></script>
{% endblock %}