{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<div class="wrapper">
    <i id="left" class='bx bx-left-arrow-alt'></i>
    <div class="top_container">
        {% if current_user.role == 0 %}
        <div class="it">
            <a class="create_category" href="/create/category"><img class="plus"
                    src="/static/svg/plus-large-svgrepo-com.svg" alt=""></a>
            <h1 class="img_text">Создать категорию</h1>
        </div>
        {% endif %}
        <script>
            let a = 0;
        </script>
        {% for category in categories %}

        <script>
            a += 1;
        </script>

        <div class="it">
            <a href="#{{ category.id }}"><img class="box" src="{{ url_for('static', filename=category.image) }}"></a>
            <h1 class="img_text">{{ category.title }}</h1>
        </div>
        {% endfor %}
    </div>
    <i id="right" class='bx bx-right-arrow-alt'></i>
</div>

{% if lunch %}
<div class="add_dish_wrapper">
    <div class="text-center">Бизнес-ланч</div>
</div>
<div>
    {% if current_user.role == 2 %}
      <a href="confirm/lunch/{{ lunch.id }}">Заказать</a>
    {% endif %}
    <div>Дата: {{ lunch.date }}</div>
    <div>Стандартная цена: {{ lunch.price }}</div>
    <div>
       Макс, вот это нужно стрелочкой своравичать
      {% for di_l in lunch.dishes %}
        {% set dish = di_l.dish %}
        Вот сюда вставить блюда(как в dish_list.html:24)
        <div>
        Отклонение в цене: {{ di_l.price_change }}
        </div>
      {% endfor %}
    </div>
</div>
{% endif %}
<div class="add_dish_wrapper">
    <div class="text-center">Меню</div>
</div>
<div>
    <div>
        {% for post in posts %}
        <div>
            <div>{{ post.title }}</div>
            {% if post.image %}
        <div><img src="{{ url_for('static', filename=post.image) }}"></div>
            {% endif %}
            <div>{{ post.text }}</div>
        </div>
        {% endfor %}
    </div>
    <a href="/news">Все новости</a>
</div>
{% for category in categories %}
<div class="dish_category" id="{{ category.id }}">
    <div class="category_title">
        <div class="category_title active_rotate" id="t_h{{ category.id }}" style="cursor: pointer;">
            <div>
                {{ category.title }}
                <i class="fa fa-caret-down" style="margin-left: 30px;"></i>
            </div>

        </div>
        {% if current_user.role == 0 %}
        <div class="category_btns">
            <a class="edit_dish" href="/edit/category/{{ category.id }}">Изменить</a>
            <a class="del_dish" onclick="OpenDialog('{{category.id }}')">Удалить</a>
        </div>
        <dialog id="di{{ category.id }}">
            <div class="dwrapper">
                <div class="dheader">Удаление категории!</div>
                <div class="dmain">Вы хотите удалить категорию "{{ category.title }}" ?</div>
                <hr class="dhr">
                <div class="dfooter">
                    <div class="dbtns">
                        <a class="dremove" href="/delete/category/{{ category.id }}">Удалить</a>
                        <a class="dcancel" onclick="RemoveDialog('{{category.id }}')">Отмена</a>
                    </div>
                </div>
            </div>
        </dialog>
        <script>
            function OpenDialog(category_id) {
                document.getElementById(`di${category_id}`).showModal();
            }

            function RemoveDialog(category_id) {
                document.getElementById(`di${category_id}`).close();
            }
        </script>
        {% endif %}
    </div>


    <div class="items_of_table active" id="i_t{{ category.id }}">

        <div class="dc">
            {% for cdish in category.dishes %}
            {% set dish = cdish.dish %}
            <div class="dish">
                <div>
                <a href="/profile/dish/{{ dish.id }}">
                    <img class="dish_img" src="{{ url_for('static', filename=dish.image) }}">
                </a>
                <div class="dish_name_and_price">
                    <div class="dish_name">{{ dish.title }}</div>
                    <div class="dish_price">{{ dish.price }}₽</div>
                </div>
                </div>
                {% if current_user.role not in [0, 1] %}
                <a class="add_dish_to_basket" href="/add_dish/{{ dish.id }}">Добавить в корзину</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

<script>
    const ricon = document.getElementById("right");
</script>


{% if current_user.role == 0 %}
<script>
    if (a <= 3) {
        ricon.classList.add("dis_none")
        console.log("done")
    } else {
        ricon.classList.remove("dis_none")
        console.log("done")

    }
</script>
{% endif %}

{% if current_user.role != 0 %}
<script>
    if (a <= 4) {
        ricon.classList.add("dis_none")
        console.log("done")
    } else {
        ricon.classList.remove("dis_none")
        console.log("done")

    }
</script>
{% endif %}

<script>
    {% for category in categories %}
    const category_title_btn{{ category.id }} = document.querySelector("#t_h{{ category.id }}"),
        items_of_table{{ category.id }} = document.querySelector("#i_t{{ category.id }}");

    category_title_btn{{ category.id }}.addEventListener('click', () => {
        if (items_of_table{{ category.id }}.classList.contains('active')) {
            items_of_table{{ category.id }}.classList.remove('active');
            category_title_btn{{ category.id }}.classList.remove('active_rotate')
        }
        else {
            items_of_table{{ category.id }}.classList.add('active');
            category_title_btn{{ category.id }}.classList.add('active_rotate')
        }
    })
    {% endfor %}
</script>

<script src="{{ url_for('static', filename='scripts/slider.js') }}"></script>

{% endblock %}
