<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SberMenu | Регистрация</title>
</head>


<link rel="stylesheet" href="/static/css/login_registration.css">

<div class="body PC">
    <div class="container">
        <div class="white_container">
            <div class="login_container">
                <div class="text_back">
                    <div class="text">Вход</div>
                    <div class="back"></div>
                </div>
                <div class="ep">
                    <input class="email" placeholder="Почта">
                    <input class="password" placeholder="Пароль">
                    <div class="lg">
                        <a class="login">Войти</a>
                        <div class="RegisterNewAccount">Создать аккаунт</div>
                    </div>
                </div>
            </div>
            <div class="registration_container">
                <div class="text_back">
                    <div class="text">Регистрация</div>
                    <div class="back"></div>
                </div>
                <div class="ep">
                    <input class="email" placeholder="Имя">
                    <input class="email" placeholder="Почта">
                    <input class="password" placeholder="Пароль">
                    <div class="lg">
                        <a class="register">Создать</a>
                        <a class="Login">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body Mobile"></div>


<script src="/static/scripts/login_register.js"></script>

</html>