{% extends "base.html" %}

{% block content %}
<h2>Список заказов</h2>
{% for order in orders %}
<p>ID: {{ order.id }}</p>
<p>Цена: {{ order.price }}руб.</p>
<p>Статус:{{ STATUS[order.status] }}</p>
<a>Изменить статус</a>
---БЛЮДА---
{% for dish in dishes[order.id] %}
     <div>
         <a href="/profile/dish/{{ dish.id }}">
        <div class="dish_name_and_price">
            <div>{{ dish.title }}</div>
            <div>{{ dish.price }}руб.</div>
        </div>
        </a>
    </div>
{% endfor %}

{% endfor %}
{% if not orders %}
<h2>В текущий момент нет незакрытых заказов</h2>
{% endif %}
{% endblock %}
