<div>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>Регистрация пользователя</div>
            <div>
                <div>
                    <b>{{ form.email(class="form-control", type="email",
                        placeholder="E-mail") }}</b>
                    {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.name(class="form-control", type="text",
                        placeholder="Имя") }}</b>
                    {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.surname(class="form-control", type="text",
                        placeholder="Фамилия") }}</b>
                    {% for error in form.surname.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.password(class="form-control", type="password",
                        placeholder="Пароль") }}</b>
                    {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div>
                    <b>{{ form.password_again(class="form-control", type="password",
                        placeholder="Повторите пароль") }}</b>
                    {% for error in form.password_again.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <b>{{ form.submit(value="Зарегистрировать") }}</b>
            </div>
    </form>
</div>